VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69ef48ea0000670c042a
VITE_APPWRITE_DATABASE_ID=hyper_racing_db
VITE_APPWRITE_USERS_COLLECTION_ID=users
VITE_APPWRITE_STORAGE_ID=hyper_racing_storage
